<% provide(:title, "About") %>

<p>
  The <a href="https://github.com/RyanCCollins/rails-tests"><em>Ruby on Rails
  Tests</em></a> repo was created so I could brush up my Rails skills.
</p>
    </body>
</html>