<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  <a href="https://github.com/RyanCCollins/rails-experiments"><em>Ruby on Rails Experiments
  </em></a>
  <p>This is a sample application built in Ruby on Rails</p>
</p>