<% provide(:title, "Help") %>
<h1>Need some help?</h1>
<p>You came to the right place.</p>


<h1>About</h1>
<div class="row">
    <div class="col-md-12">
      <p class="text-center">This is a sample rails application made by Ryan Collins.</p>
      <p class="text-center">Who is Ryan Collins?  Well I am getting to that!</p>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= image_tag "ryan.jpg", class: "thumbnail"%>
      </div>
      <div class="col-md-4">
        <h1 class="text-left">Hi my name is Ryan!</h1>
        <h4>I am a web developer</h4>
        <p>I spend my time learning new frameworks in an effort to perfect my work</p>
        <p></p>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
