<% full_title(yield(:title)) %>
    <body>
        <h1>Welcome to the home of Ryan Collins</h1>
        <div class="banner">
            <p class="headline">This is my website</p>
        </div>
    </body>
</html>