


<div class="col-md-12 feature-image">
  <%= image_tag "ryanonrails.png", class: "img-responsive img-rounded" %>
</div>

<div class="row">
  <div class="col-md-12">

  </div>
</div>
<div class="center jumbotron pad-2">
  <h1>Welcome!!</h1>
    <h2>This is Ryan on Rails, a rails application made for the fun of it.</h2>
    <h2>You can signup for an account, if you really want to, and submit microposts that noboody will ever see.</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
