<div class="center jumbotron">
    <h1>Welcome!!</h1>
    <h2>This is the homepage for my Rails Experiments</h2>
    
    <%= link_to image_tag("rails.png", alt: "Railslogo"),
        'http://rubyonrails.org/' %>
    <a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>