<footer class="footer">
  <small>
    <a href="https://github.com/RyanCCollins/rails-tests"></a>Rails Experiments</a>
    by <a href="http://ryancollins.io/">Ryan Collins</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>